body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.chat-app {
    width: 90%;
    max-width: 600px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.chat-header {
    padding: 15px 20px;
    background: #1d3557;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
}

.language-selector select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
}

.chat-container {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-container::-webkit-scrollbar {
    width: 8px;
}

.chat-container::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

.message {
    max-width: 70%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.user-message {
    align-self: flex-end;
    background: #4caf50;
    color: white;
    border-radius: 10px 10px 0 10px;
}

.ia-message {
    align-self: flex-start;
    background: #e0e0e0;
    color: #333;
    border-radius: 10px 10px 10px 0;
}

.chat-input-container {
    display: flex;
    padding: 10px 15px;
    background: #fff;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    margin-right: 10px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

#user-input:focus {
    border-color: #1d3557;
}

#send-button {
    padding: 10px 15px;
    background: #1d3557;
    border: none;
    border-radius: 20%;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#send-button svg {
    stroke: white;
}

#send-button:hover {
    background: #457b9d;
}
